body {
    margin:10px;
    padding: 10px;
    background-color: #0B76A0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;


}
.menu{
    display: flex;
    list-style: none;
    margin:-90Px;
    padding: 10;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    padding-left: -500px;
    margin-left: 1199px;
   

}
.menu li{
    list-style: none;
    

}
.menu li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border: 4px;
    transition: transution 0,3s ease, box-shadow 0.3s ease;
    display:inline-block ;


}
.menu li a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0,15);

}
.menu li a{
    background-color:white;
    margin-right: 20px;
    border-radius: 30px;
    
}
.Nav.conctact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    
}
#logo {
   align-items: center;
    border-radius: 80%;
    display: flex;
    width: 90%;
    height: 90%;
    margin-left: 80px;
    margin-top: 10px;
    
    

}
.sous-titre{
    margin-left: -80px;
    font-size: 46px;
    margin: 30px;
    padding: 70px;
    
}

p{
    margin-left: 20;
    font-size: 30px;
    color: white;
    padding-bottom: 300px;

}

.animated{
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 20%;
    animation: bouceAnimated 3s ease-in-out infinite;
    padding: inline-block;
}
@keyframes bounceAnimated{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-5cm);
    }
}
.header{
    background-color: #0B76A0;
    width: 100%;
    padding: 10% 0;
    box-sizing: border-box;
}